/* =========================================
   WEB (DESKTOP) STYLES
   ========================================= */
.sidebar {
  padding: 80px 24px;
  border-right: 1px solid var(--border);
}

.stickyContent {
  position: sticky;
  top: 80px;
  height: max-content;
}

.profileWrapper {
  margin-bottom: 24px;
}

.avatar {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.info {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.mounted {
  opacity: 1;
  transform: translateY(0);
}

.name {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.title {
  font-size: 1.1rem;
  color: var(--text-sec);
  margin-bottom: 2px;
}

.location {
  font-size: 0.9rem;
  color: var(--text-sec);
  margin-bottom: 32px;
}

.contactLinks {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.link {
  font-size: 0.9rem;
  color: var(--text-pri);
  display: inline-block;
}

.link:hover {
  color: var(--text-sec);
}