
.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.item {
  padding-left: 20px;
  border-left: 2px solid var(--border);
}

.item h4 {
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.item p {
  font-size: 0.95rem;
  font-style: italic;
}
