
.container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.quote {
  border-left: 2px solid var(--text-sec);
  padding-left: 24px;
}

.text {
  font-size: 1.1rem;
  font-style: italic;
  margin-bottom: 16px;
  color: var(--text-pri);
}

.author {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: 500;
  color: var(--text-pri);
}

.role {
  font-size: 0.85rem;
  color: var(--text-sec);
}
