
.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.category h3 {
  font-size: 1rem;
  margin-bottom: 12px;
  color: var(--text-pri);
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  list-style: none;
}

.pill {
  font-size: 0.9rem;
  color: var(--text-pri);
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 6px 12px;
  border: 1px solid var(--border);
  border-radius: 20px;
  background-color: var(--bg);
  transition: all 0.3s ease;
}

.pill:hover {
  background-color: var(--hover-bg);
  border-color: var(--text-sec);
}

.icon {
  display: block;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

:global(.dark) .icon {
  filter: grayscale(100%) invert(100%) brightness(200%);
}

.pill:hover .icon {
  filter: grayscale(0%);
}

:global(.dark) .pill:hover .icon {
  filter: grayscale(0%);
}
