.layout {
  display: grid;
  grid-template-columns: 270px 1fr;
  min-height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.mainContent {
  padding: 0 48px;
}

@media (max-width: 768px) {
  .layout {
    grid-template-columns: 1fr;
  }
  
  .mainContent {
    padding: 0 24px;
  }
}
